input, option{
    border: 1px solid rgb(207, 204, 204);
    width: 20%;
    color: grey;
    padding: 15px;
    /* border-radius: 20px; */
}

.btn{
    border: 1px solid black;
    padding: 15px;
    background-color: blueviolet;
}

/* hr{
    display: inline;
    color: black;
    background-color: black;
} */